<header class="site-header" role="banner">
  <div class="title-container">

    <!-- <div class="wrapper"> -->
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <img src="{{ site.data.constants.header_logo | relative_url }}" />

    <div class="titles-container">
      <div class="site-main-title">{{ site.title | escape }}</div>
      <div class="site-sub-title">{{ site.data.constants.subtitle | escape }}</div>
    </div>
  </div>
  <!-- </div> -->

</header>